body {
    /* margin: 60; */
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(61, 61, 59);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    font-size: 18px;
  }
ul{

    padding: 0px;
    margin: 0px;
} 

.menu {
    overflow: hidden;
   
  }

  .menu a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .menu a:hover {
    background-color: rgb(196, 196, 192);
    color: black;
  }

  .logo{
    font-weight: bolder;
    background-color: rgb(86, 150, 247);
  }

  .username{
    float: right;
    color: rgb(255, 255, 255);
    padding-right: 2%;
    font-size: 20px;
    
    }

    #manual{
        float: left;
        /* display: inline-block; */
    padding: 0 12px 6px 12px;
    border: 2px solid  rgb(86, 150, 247);
    min-width: 15%;
    min-height: 30%;
    margin:1%;
    }

     .text {
        float: left;
        /* display: inline-block; */
        padding: 0 12px 6px 12px;
        border: 2px solid  rgb(86, 150, 247);
        min-width: 15%;
        min-height: 30%;
        margin: 1%;
    }

    #taskText, #inputTitleText {
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 5px;
        background: rgb(8, 8, 8);
        border: 1px solid rgb(86, 150, 247);
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium';
        font-size: 18px;
    }
    #addTaskBtn, #addListBtn{
       
        background: rgb(86, 150, 247);
        color: rgb(255, 255, 255);
        border: 0;
        font-family: 'Franklin Gothic Medium';
        font-size: 20px;
    }
    #addTaskBtn:hover, #addListBtn:hover {
        
        background: rgb(168, 21, 1);
        border: 2px  rgb(86, 150, 247);
        color: rgb(255, 255, 255);
    }

        
span#remove {
    float: right;
    cursor: pointer;
    
}

span#removeTitle, span#checkTask {
    float: left;
    cursor: pointer;
    padding: 5px;
    border: 1px solid  rgb(86, 150, 247);
}

div .removejson{
    float: left; 
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    /* display: inline-block;  */
    padding: 0 12px 6px 12px;
    border: 1px solid  rgb(86, 150, 247);
}

li{
list-style: none;
}

ul li.checked { 
    text-decoration: line-through;
  }